.lampe {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 1px black;
  padding: 50px;
}

.allumee {
  background-color: yellow;
}

.eteinte {
  background-color: black;
  color: white;
}
